$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$grid-breakpoints-md: 768px;

$height-breakpoint-480: 481px; // iphone 4
$height-breakpoint-568: 568px; // iphone 5
$height-breakpoint-667: 667px;
$height-breakpoint-740: 740px;
$height-breakpoint-914: 914px;

$width-breakpoint-iphone4-5-SE: 320px;
$width-breakpoint-iphone6: 375px;